<h1>Sample App</h1>
<<<<<<< HEAD

=======
>>>>>>> ba1a0e0d6b42aa0d18fbed3f42ed69e22b52b242
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
<<<<<<< HEAD
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
=======
</p>
>>>>>>> ba1a0e0d6b42aa0d18fbed3f42ed69e22b52b242
